.chat-container {
  position: fixed;
  right: 20px;
  z-index: 998;
  top: auto;
  bottom: 200px;
  transform: none;
}

.btn-container {
  -webkit-appearance: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 998;
  border: 0;
  box-shadow: none;
  display: block;
  color: #fff;
  width: 60px;
  height: 60px;
  background: #1c69d4
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33.008' height='29.34'%3E%3Cg fill='%23fff'%3E%3Cpath d='M19.254 16.5a2.752 2.752 0 002.751-2.751v-11A2.75 2.75 0 0019.254 0H2.751A2.75 2.75 0 000 2.751v11A2.752 2.752 0 002.751 16.5h.917V22h.917l5.5-5.5z'/%3E%3Cpath d='M30.257 7.335h-6.418v6.418a4.584 4.584 0 01-4.584 4.582h-8.252v2.751a2.752 2.752 0 002.751 2.749h9.169l5.5 5.5h.917v-5.5h.917a2.752 2.752 0 002.751-2.751v-11a2.75 2.75 0 00-2.751-2.749z'/%3E%3C/g%3E%3C/svg%3E")
    no-repeat 50%;
  transition: background-color 0.2s;
  cursor: pointer;
}

.btn-container:hover {
  background-color: #0653b6;
}
